// Fonts

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Resets
* {
	margin: 0;
	padding: 0;
}

// Bootstrap Mods
.navbar-toggler {
	border: none;
	padding: 1em;
	margin-left: 1em;
}

.list-group-item {
	border: none;
}

.row.no-margin {
	margin: 0 !important;
}

// Globals
button:focus {
	outline: none;
}

a:focus {
	outline: none;
}

.fas {
	color: $light-blue;
}

// Navbar
nav {
	border-bottom: solid 1px $light-grey;
	margin-bottom: 2em;
	white-space: nowrap;

	.list-group-item {
		padding-top: 1.469em;
		padding-bottom: 1.469em;
	}

	a {
		font-weight: lighter;
		color: #6c757d;

		&:hover {
			color: black;
			text-decoration: none;
		}
	}

	.fa-phone-square {
		padding-right: 0.75em;
	}

	.phone-link {
		color: $light-blue;
	}

	.fa-globe {
		padding-right: 0.75em;
	}

	.fa-angle-down {
		padding-left: 0.75em;
		color: black;
	}
}

// Secondary Nav

.secondary-nav {
	font-size: 0.95em;
	font-weight: lighter;
	white-space: nowrap;

	a {
		color: black;

		&:hover {
			text-decoration: none;
			// Add something for UX
		}
	}

	.freighthub-text-container {
		padding-top: 0.5em;
	}

	.freighthub-text {
		font-family: $primary-font;
		font-size: 1.75em;
		font-weight: lighter;
		text-transform: uppercase;
	}

	.freight-text {
		font-weight: bold;
	}

	.menu-bold {
		font-weight: bold;
	}

	.fa-user-circle {
		padding-right: 0.75em;
	}

	.fa-angle-right {
		padding-left: 0.75em;
		color: black;
	}

	.signup-button {
		background-color: $light-blue;
		color: white;
		padding: 1.5em 2em;
		font-weight: lighter;

		&:hover {
			background-color: $darker-light-blue;
		}
	}

	@media (max-width: 1199px) {
		.mobile-divider {
			border-bottom: solid 1px $light-grey;
			margin-bottom: 1em;
		}

		.signup-button {
			padding: 1em 2em;
		}
	}
}

//Hero Section

.hero-section {
	width: calc(100% - 70px);
	height: 75vh;
	min-height: 750px;
	margin: 2.15em auto;
	background: url("/images/cargo-ship.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: multiply;
	color: white;

	.hero-title {
		margin-bottom: 3em;

		h2 {
			font-weight: lighter;
			font-size: 4em;
		}
	}

	.hero-description {
		font-family: $primary-font;
		font-weight: lighter;
		font-size: 1.25em;
		line-height: 0.85em;
		margin-bottom: 4.5em;
	}

	.hero-cta {
		font-family: $primary-font;
		font-weight: lighter;
		margin-bottom: 8.5em;

		.fa-clipboard {
			padding-right: 0.5em;
			padding-left: 1.5em;
		}

		.fa-angle-right {
			padding-left: 0.5em;
			color: white;
		}

		a {
			color: white;

			&:hover {
				text-decoration: none;
			}
		}

		a:nth-of-type(1) {
			background-color: $light-blue;
			padding: 1.25em 2em;

			&:hover {
				background-color: $darker-light-blue;
			}
		}
	}

	.hero-image-description {
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.35);
		border-bottom: 2px solid rgba(255, 255, 255, 0.35);
		font-size: 0.75em;

		p {
			height: 3.5em;
		}
	}

	@media (max-width: 1199px) {
		width: 100%;

		.hero-title {
			margin-bottom: 2em;

			h2 {
				font-size: 3em;
			}
		}

		.hero-description {
			font-size: 1.15em;
			margin-bottom: 2em;
		}

		.hero-cta {
			margin-bottom: 3.5em;

			.fa-clipboard {
				padding-left: 0;
			}

			a:nth-of-type(1) {
				display: block;
				margin-bottom: 2em;
				padding: 1.25em 1.25em;
			}
		}
	}
}

// Benefits Section

.benefits-section {
	margin: 4.3em auto;
	min-height: 133px;

	.benefits-title {
		font-family: $primary-font;
		color: rgba(0, 0, 0, 0.35);
		padding-left: 0;
		margin-bottom: 2em;

		h3 {
			font-size: 1em;
		}
	}

	.benefits-description {
		font-family: $primary-font;
		font-weight: lighter;
		padding-left: 0;
		font-size: 1.3em;
	}

	@media (min-width: 1199px) {
		height: 15vh;
	}
}

// Features Section

.features-section {
	.far {
		font-size: 1.5em;
		padding-right: 1em;
	}

	.tab-pane-container {
		padding: 6em 0;
		border-bottom: 1px solid $light-grey;
	}

	.tab-image-container {
		padding-right: 0;
	}

	.tab-content > .active {
		display: flex;
	}

	.selected-filter a {
		font-family: $primary-font;
		font-weight: lighter;
		font-size: 1.15em;
		color: $medium-grey;
		border-top: 1px solid $light-grey;
		border-bottom: solid 1px $light-grey;
		padding: 1.5em 0;

		&:hover {
			color: black;
		}
	}

	.selected-filter .nav-link.active,
	.selected-filter .show > .nav-link,
	.selected-filter > a {
		color: black;
		border-bottom: 2px solid $light-blue;
	}

	.selected-filter a:hover .far,
	.selected-filter .nav-link.active .far {
		color: $light-blue;
	}

	.tab-title {
		margin-bottom: 2.5em;

		h3 {
			font-family: $primary-font;
			font-size: 2em;
			font-weight: lighter;
		}
	}

	.tab-description {
		font-family: $primary-font;
		font-size: 1.15em;
		font-weight: lighter;
		color: $medium-grey;
		margin-bottom: 4.5em;
	}

	.learn-more {
		color: black;

		&:hover {
			text-decoration: none;
		}

		.fa-clipboard {
			padding-right: 0.5em;
		}

		.fa-angle-right {
			padding-left: 0.5em;
			color: black;
		}
	}

	.tab-image {
		overflow: hidden;

		img {
			padding: 3em 0 0 1.5em;
			width: 125%;
			height: 125%;
		}
	}

	@media (min-width: 992px) {
		.nav-item:nth-of-type(1) {
			padding-right: 0;
		}
		.nav-item:nth-of-type(2) {
			padding-right: 0;
			padding-left: 0;
		}
		.nav-item:nth-of-type(3) {
			padding-left: 0;
		}
	}

	@media (max-width: 991px) {
		.tab-image {
			display: none;
		}
	}

	@media (max-width: 1199px) {
		.tab-image img {
			padding: 6em 0 0 1.5em;
		}
	}
}

// Hero Testimonial Section

.hero-testimonial-section {
	height: 50vh;
	min-height: 425px;
	margin: 3.5em auto;
	font-family: $primary-font;

	h2 {
		font-weight: lighter;
	}

	.primary-testimonial {
		margin: 4.5em auto;
		font-size: 1.5em;
		font-weight: lighter;
	}

	.testimonial-quote {
		.testimonial-logo {
			color: $medium-grey;

			.fab {
				font-size: 1.75em;
			}
		}

		p {
			margin-bottom: 0.1em;
		}
		.testimonial-info {
			font-size: 0.75em;
			color: $medium-grey;

			p {
				margin-bottom: 0;
			}
		}
	}

	.company-logos {
		margin: 0 auto;

		img {
			height: 20px;
			padding-left: 5em;
		}

		img:nth-of-type(1) {
			padding-left: 0;
		}
	}

	@media (max-width: 992px) {
		.testimonial-image {
			padding-bottom: 0.5em;
		}

		.company-logos div {
			padding: 0.5em 0;
		}
	}
}

// Testimonials Section

.testimonials-section {
	height: 25vh;

	.testimonial-card {
		border: 1px solid $light-grey;

		.testimonial-card-content {
			padding: 2.5em;
			font-family: $primary-font;
			font-weight: lighter;

			.testimonial-quote {
				padding-bottom: 2em;
				font-size: 1.05em;
			}

			.testimonial-logo {
				.fas,
				.fab {
					color: $medium-grey;
					font-size: 2em;
				}
			}

			.testimonial-info {
				font-size: 0.9em;
				color: $medium-grey;
				padding-left: 1.5em;

				p {
					margin-bottom: 0;
				}
			}
		}
	}
}
